In [17]:
import pandas as pd

In [19]:
df = pd.read_csv('datasets/готовая_кластеризация.csv')
df.head()

,Ученик,Средний балл за Сентябрь,Средний балл за Октябрь,Средний балл за Ноябрь,Средний балл за Декабрь,Средний балл за Январь,Средний балл за Февраль,Средний балл за Март,Средний балл за Апрель,Средний балл за Май,...,Общее кол-во 3 за 2 полугодие,Общее кол-во 2 за 2 полугодие,Общее кол-во У за 2 полугодие,Общее кол-во Б за 2 полугодие,Общее кол-во Н за 2 полугодие,Среднее кол-во У в месяц,Среднее кол-во Б в месяц,Среднее кол-во Н в месяц,Успешный (нет предмета со ср. баллом < 3.5),Успешный (по итогам кластеризации)
0,Ученик 1_8A,3.807018,3.600000,3.852941,3.666667,3.902439,3.839286,3.800000,3.830000,3.860000,...,61,7,0,126,21,2.111111,20.333333,2.555556,0,0
1,Ученик 2_8A,3.382979,3.212121,3.483871,3.316667,3.342857,3.300000,3.150000,3.261905,3.304878,...,115,26,11,64,25,4.888889,13.777778,2.888889,0,0
2,Ученик 3_8A,2.965517,2.972222,3.085366,3.166667,3.150000,3.048077,3.089744,3.108696,3.317073,...,132,48,7,0,8,3.250000,7.250000,1.125000,0,0
3,Ученица 4_8A,3.842593,3.702703,3.646341,3.576923,3.566667,3.518182,3.750000,3.525000,4.015152,...,85,18,39,0,8,11.500000,3.375000,1.000000,0,0
4,Ученик 5_8A,3.298246,3.076923,3.160377,3.350000,3.222222,3.163636,3.104167,3.238806,3.400000,...,115,33,28,46,12,11.500000,8.125000,1.500000,0,0

In [21]:
for i in df.columns:
    print(i)

Ученик
Средний балл за Сентябрь
Средний балл за Октябрь
Средний балл за Ноябрь
Средний балл за Декабрь
Средний балл за Январь
Средний балл за Февраль
Средний балл за Март
Средний балл за Апрель
Средний балл за Май
Средний балл за 3 месяца (Сентябрь-Октябрь-Ноябрь)
Средний балл за 3 месяца (Декабрь-Январь-Февраль)
Средний балл за 3 месяца (Март-Апрель-Май)
Общее кол-во 5 за год
Общее кол-во 4 за год
Общее кол-во 3 за год
Общее кол-во 2 за год
Общее кол-во У за год
Общее кол-во Б за год
Общее кол-во Н за год
Общее кол-во 5 за 1 полугодие
Общее кол-во 4 за 1 полугодие
Общее кол-во 3 за 1 полугодие
Общее кол-во 2 за 1 полугодие
Общее кол-во У за 1 полугодие
Общее кол-во Б за 1 полугодие
Общее кол-во Н за 1 полугодие
Общее кол-во 5 за 2 полугодие
Общее кол-во 4 за 2 полугодие
Общее кол-во 3 за 2 полугодие
Общее кол-во 2 за 2 полугодие
Общее кол-во У за 2 полугодие
Общее кол-во Б за 2 полугодие
Общее кол-во Н за 2 полугодие
Среднее кол-во У в месяц
Среднее кол-во Б в месяц
Среднее кол-во Н в месяц
Успешный (нет предмета со ср. баллом < 3.5)
Успешный (по итогам кластеризации)